// Font import and reset
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

// Color Variables
$primary-color: #f15a24;
$secondary-color: #ffffff;
$background-color: #1c1c1c;
$text-color: #ffffff;
$danger-color:#0f0f0f;
$light-color:orange;
$error-color:red;

// Font Family
$font-family: "Poppins", sans-serif;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Global reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    background-color: $background-color;
    color: $text-color;
    line-height: 1.5;
}

// Common button styles
button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: 0.9;
}
